
<navigation></navigation>

<div class="wrapper">

	<div class="row">
		<div class="col-sm-6" style="border-right: 1px solid black;">
			<div class="row">
				<div class="col-sm-12">
					<img src="http://placehold.it/600x300">
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<i class="fa fa-plus-square pull-left" aria-hidden="true"></i>
					<i class="fa fa-minus-square" aria-hidden="true"></i>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<img src="http://placehold.it/600x300">
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-12">
					<h3 style="margin-top: 0px;">Beginning CSS</h3>
					<ul class="question-stats">
						<li><span>12</span> Questions Remain</li>
						<li><span>6</span> Questions Correct</li>
						<li><span>1</span> Questions Incorrect</li>
					</ul>
				</div>
			</div>
		<hr>
			<div class="row">
				<div class="col-sm-12">
					<h3 style="margin-top: 0px;">Previously Answered</h3>
					<div class="row">
						<img class="col-sm-6" src="http://placehold.it/300x150">
						<img class="col-sm-6"src="http://placehold.it/300x150">
					</div>
				<br>
					<div class="row">
						<img class="col-sm-6" src="http://placehold.it/300x150">
						<img class="col-sm-6"src="http://placehold.it/300x150">
					</div>
				<br>
					<div class="row">
						<img class="col-sm-6" src="http://placehold.it/300x150">
						<img class="col-sm-6"src="http://placehold.it/300x150">
					</div>
				</div>
			</div>

		</div>
	</div>

</div>