
<navigation></navigation>

<div class="wrapper">

	<div class="row">
		<div class="col-sm-6" style="border-right: 1px solid black;">

			<div class="panel panel-default notecard" style="max-height: 100vh;min-height: 30vh">
			  <div class="panel-body">
			    <div class="question">
			    	<p ng-show="deck.cards.length - answered.length == 0" class="centered">
			    		<span ng-show="correct.length == deck.cards.length">You answered every single question CORRECTLY. Good job!</span>
			    		<span ng-show="percentCorrect > 0 && correct.length != deck.cards.length">This round you answered {{percentCorrect}}% of the questions correctly.</span>
			    		<span ng-show="percentIncorrect > 0 && incorrect.length == deck.cards.length">You answered every single question INCORRECTLY. Go over the cards again.</span>
			    	</p>
			    	<p ng-show="deck.cards.length - answered.length != 0"class="centered">{{deck.cards[current].question}}</p>
			    </div>
			  </div>
			</div>
	<br>
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6">
							<i ng-click="addCorrect(deck.cards[current])" class="fa fa-plus-square fa-2x pull-left" aria-hidden="true"></i>
						</div>
						<div class="col-sm-6">
							<i ng-click="addIncorrect(deck.cards[current])" class="fa fa-minus-square fa-2x pull-right" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
	<br>

			<div class="panel panel-default" style="max-height: 100vh;min-height: 30vh">
			  <div class="panel-body">
			  	<div class="answer">
				    <p ng-click="playAgain()" ng-show="deck.cards.length - answered.length == 0" class="centered">Click here to play again</p>
				    <p ng-click="currentQuestion ? currentQuestion = false : currentQuestion = true" ng-show="currentQuestion == true && deck.cards.length - answered.length != 0" class="centered">click here to reveal the answer</p>
				    <p ng-click="currentQuestion ? currentQuestion = false : currentQuestion = true" ng-show="currentQuestion == false  && deck.cards.length - answered.length != 0" class="centered">{{deck.cards[current].answer}}</p>
			    </div>
			  </div>
			</div>
		
		</div> <!-- end col-sm-6 (left hand side of view) -->

		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-12">
					<h3 style="margin-top: 0px;"><a ng-href="#/deck/{{deck.id}}">{{deck.name}}</a></h3>
					<ul class="question-stats">
						<li><span>{{deck.cards.length - answered.length}}</span> Questions Remain</li>
						<li><span>{{correct.length}}</span> Questions Correct</li>
						<li><span>{{incorrect.length}}</span> Questions Incorrect</li>
					</ul>
				</div>
			</div>
		<hr>
			<div class="row">
				<div class="col-sm-12">
					<h3 style="margin-top: 0px;">Previously Answered</h3>
					<div class="row">

						<div class="col-sm-6" ng-repeat="card in answered">
							<div ng-class="{correct: card.wrong == false, wrong: card.wrong}" class="panel panel-default notecard" style="max-height: 100vh;min-height: 15vh">
							  <div class="panel-body">
								  <div class="previous-question">
								  	<p ng-click="previousQuestion ? previousQuestion = false : previousQuestion = true" ng-show="previousQuestion == true" class="centered">{{card.question}}</p>
								  	<p ng-click="previousQuestion ? previousQuestion = false : previousQuestion = true" ng-show="previousQuestion == false" class="centered">{{card.answer}}</p>
								  </div>
							  </div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>

</div>