/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	1). universal
	2). navbar
	3). decks
	4). study

~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ------ universal ------- */

	html{
		font:16px;
	}

	ul {
		padding-left: 0;
	}

	li {
		list-style: none;
	}

	a {
		color: inherit;
	}

	a:hover {
		text-decoration: none;
	}

	.ng-cloak {
		display: none;
	}

	.green {
		color: green;
	}

	.red {
		color: red;
	}

	.centered {
		text-align: center;
	}

	.wrapper {
		margin: 0 1rem;
	}

	.placeholder {
		background: red;
		height: 200px;
		width: 200px;
	}

/* ------- navbar -------- */

.navbar {
	border-radius: 0;
}


/* ------- decks -------- */

	.decks li {
		display: inline-block;
	}


/* ------- study -------- */

	/* ------- question & answer -------- */

		.question,
		.answer {
			border: 1px solid black;
			border-radius: 0.5rem;
			display: flex;
			max-height: 300px;
			min-height: 150px;
			max-width: 600px;
			min-width: 300px;
		}

		.question p,
		.answer p {
			margin: auto;
			max-width: 50%;
		}

	/* --- previous questions & answers --- */	

		.previous-question,
		.previous-answer {
			border: 1px solid black;
			border-radius: 0.5rem;
			display: flex;
			max-height: 150px;
			min-height: 75px;
			max-width: 300px;
			min-width: 150px;
		}

		.previous-question p,
		.previous-answer p {
			margin: auto;
			max-width: 50%;
		}


	/* ------- question stats -------- */

	.question-stats li{
		display: inline-block;
		padding-right: 2rem;
	}



