
<navigation></navigation>

<div class="wrapper">

	<div class="row">
		<div class="col-sm-8" style="border-right: 1px solid black;">
			<h1> <a ng-href="#/newdeck"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create a New Deck</a></h1>
			<div class="row">
				<div class="col-sm-12">
					<h3 style="border-bottom: 1px solid black;">My Decks</h3>
					<ul class="decks">
						<li ng-repeat="deck in decks" class="col-sm-4">
							<a ng-href="#/deck/{{deck.id}}"><img ng-src="{{deck.image_url}}"></a>
							<p>{{deck.name}}</p>
							<p>{{deck.description}}</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<h1>Notifications</h1>
		</div>
	</div>

</div>