
<navigation></navigation>

<div class="wrapper">

	<div class="row">
		<div class="col-sm-8" style="border-right: 1px solid black;">
			<h1> <a ng-href="#/newdeck"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create a New Deck</a></h1>
			<div class="row">
				<div class="col-sm-12">
					<h3 style="border-bottom: 1px solid black;">My Decks</h3>
					<!-- ng-repeat here change div to images-->
					<ul class="decks">
						<li class="col-sm-4">
							<div class="placeholder"></div>
							<p>Starter Deck</p>
							<p>Created 3 days ago</p>
						</li>
						<li class="col-sm-4">
							<div class="placeholder"></div>
							<p>Beginning Spanish</p>
							<p>Created 9 days ago</p>
						</li>
						<li class="col-sm-4">
							<div class="placeholder"></div>
							<p>Beginning CSS</p>
							<p>Updated 1 day ago</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<h1>Notifications</h1>
		</div>
	</div>

</div>