<navigation></navigation>

<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="row">
				<div class="col-sm-4">
					<img ng-src="{{deck.image_url}}" style="max-height: 200px; max-width: 200px">
				</div>
				<div class="col-sm-8">
					<h4>{{deck.name}}</h4>
					<p>Created 3 days ago</p>
					<p>{{deck.description}}
					</p>
					<a ng-href="#/study/{{id}}"><input type="submit" class="btn btn-default" value="Start Studying"></a>
					<a ng-href="#/editdeck/{{id}}"><input type="submit" class="btn btn-default" value="Edit Deck"></a>
				</div>
			</div>
			<hr>
		</div>
		<div class="col-sm-8 col-sm-offset-2">
			<div class="row">
				<div class="col-sm-12">
					<h2>Sample Questions</h2>
					<p>{{deck.cards[0].question}}
					</p>
				</div>
			</div>
		</div>

	</div>



</div>